.category-card {
    width: 46%;
    background: #fff;
    box-shadow: 0px 0px 3px 1px var(--input-outline);
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .category-card {
        width: 80%;
        margin-bottom: 2rem;
    }
}

.category-card__link {
    text-decoration: none;
}
.category-card__description__image {
    max-width: 100%;
    height: auto;
}

.category-card__description__title {
    font-size: 2rem;
    color: var(--main-text-color);
    padding: 1rem;
    padding-top: 0;
}
